@model Note

@{
    ViewData["Title"] = "Note Detail";
    var label1 = "Subject:";
    var label2 = "Content:";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="NoteList" method="post">
    <label>@label1</label>
    <input name="inputSubject" value="@Model.subject"><br>
    <label>@label2</label>
    <input name="inputContent" value="@Model.content"><br>
    <input type="submit" value="Back to Note List">
</form>